<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<h1><%= @list.name %></h1>
<div>
<% @list.bookmarks.each do |bookmark| %>
<%= bookmark.movie.title %>
<% end %>
</div>
  <%= link_to "Delete",
  list_path(@list),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "Create a new bookmark" %>
